* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-nav: #042454;
  --amarelo: #F4AC04;
  --cinza-claro: #e3e3e3;
  --cinza: #dcdcdc;
  --azul-escuro: #09204f;
}

html, body {
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}