/* Arquivo criado para resolver import em main.jsx */ 
:root{
  --azul-nav: #042454;
  --azul-escuro: #002855;
  --amarelo: #f8b400;
  --cinza: #e9e9e9;
}

*{box-sizing:border-box}
html,body,#root{height:100%}
body{margin:0;font-family:Inter, sans-serif;background:#fff;color:#042454}
